<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lloyvet.blog.mapper.AccessLogMapper">
  <resultMap id="BaseResultMap" type="com.lloyvet.blog.domain.AccessLog">
    <!--@mbg.generated-->
    <!--@Table sys_access_log-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="exception_detail" jdbcType="LONGVARCHAR" property="exceptionDetail" />
    <result column="log_type" jdbcType="VARCHAR" property="logType" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="params" jdbcType="LONGVARCHAR" property="params" />
    <result column="request_ip" jdbcType="VARCHAR" property="requestIp" />
    <result column="time" jdbcType="BIGINT" property="time" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="browser" jdbcType="VARCHAR" property="browser" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_time, description, exception_detail, log_type, `method`, params, request_ip, 
    `time`, username, browser, address, `status`
  </sql>
</mapper>