<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lloyvet.blog.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.lloyvet.blog.domain.Article">
    <!--@mbg.generated-->
    <!--@Table t_article-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="text_content" jdbcType="LONGVARCHAR" property="textContent" />
    <result column="cover" jdbcType="VARCHAR" property="cover" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="views" jdbcType="INTEGER" property="views" />
    <result column="likes" jdbcType="INTEGER" property="likes" />
    <result column="comments" jdbcType="INTEGER" property="comments" />
    <result column="appreciable" jdbcType="BIT" property="appreciable" />
    <result column="commentable" jdbcType="BIT" property="commentable" />
    <result column="top" jdbcType="BIT" property="top" />
    <result column="recommend" jdbcType="BIT" property="recommend" />
    <result column="published" jdbcType="BIT" property="published" />
    <result column="sort" jdbcType="TINYINT" property="sort" />
    <result column="author_id" jdbcType="BIGINT" property="authorId" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, title, summary, content, text_content, cover, `type`, views, likes, comments, 
    appreciable, commentable, `top`, recommend, published, sort, author_id, category_id, 
    `status`, create_time, update_time
  </sql>
</mapper>