<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lloyvet.blog.mapper.LoginLogMapper">
  <resultMap id="BaseResultMap" type="com.lloyvet.blog.domain.LoginLog">
    <!--@mbg.generated-->
    <!--@Table sys_loginLog-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="login_ok" jdbcType="INTEGER" property="loginOk" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, login_name, login_ip, login_ok, login_time
  </sql>
</mapper>